<div
  id="modal"
  _="on closeModal add .closing then remove me"
  class="fixed inset-0 flex flex-col items-center z-50"
>
  <div
    _="on click trigger closeModal"
    class="modal-underlay absolute inset-0 bg-black/50 z-40"
  ></div>
  <div
    class="modal-content mt-[12vh] w-11/12 max-w-[600px] border border-gray-300 rounded-sm shadow-xl bg-white p-8 modal-content-open z-50"
  >
    <h1 class="text-2xl font-bold text-center">Войти или создать аккаунт</h1>
    <p class="text-gray-700 text-center mt-2">
      Присоединяйтесь к нашему сообществу и получайте новости и обновления
      проектов в реальном времени.
    </p>
    <div class="flex flex-col justify-center gap-2 mt-5">
      <a class="btn flex items-center gap-2 rounded-full" href="/auth/yandex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M2.04 12c0-5.523 4.476-10 10-10 5.522 0 10 4.477 10 10s-4.478 10-10 10c-5.524 0-10-4.477-10-10z"
            fill="#FC3F1D"
          />
          <path
            d="M13.32 7.666h-.924c-1.694 0-2.585.858-2.585 2.123 0 1.43.616 2.1 1.881 2.959l1.045.704-3.003 4.487H7.49l2.695-4.014c-1.55-1.111-2.42-2.19-2.42-4.015 0-2.288 1.595-3.85 4.62-3.85h3.003v11.868H13.32V7.666z"
            fill="#fff"
          />
        </svg>
        Войти через Яндекс
      </a>
      <a
        class="btn-outline flex items-center gap-2 rounded-full"
        href="/auth/google"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="100"
          height="100"
          viewBox="0 0 48 48"
        >
          <path
            fill="#FFC107"
            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
          <path
            fill="#FF3D00"
            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
          ></path>
          <path
            fill="#4CAF50"
            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
          ></path>
          <path
            fill="#1976D2"
            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
        </svg>
        Войти через Google
      </a>
      <a href="/auth/vk">
        <button
          id="VKIDSDKAuthButton"
          class="VkIdWebSdk__button VkIdWebSdk__button_reset"
        >
          <div class="VkIdWebSdk__button_container">
            <div class="VkIdWebSdk__button_icon">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.54648 4.54648C3 6.09295 3 8.58197 3 13.56V14.44C3 19.418 3 21.907 4.54648 23.4535C6.09295 25 8.58197 25 13.56 25H14.44C19.418 25 21.907 25 23.4535 23.4535C25 21.907 25
           19.418 25 14.44V13.56C25 8.58197 25 6.09295 23.4535 4.54648C21.907 3 19.418 3 14.44 3H13.56C8.58197 3 6.09295 3 4.54648 4.54648ZM6.79999 10.15C6.91798 15.8728 9.92951 19.31 14.8932 19.31H15.1812V16.05C16.989 16.2332 18.3371
           17.5682 18.8875 19.31H21.4939C20.7869 16.7044 18.9535 15.2604 17.8141 14.71C18.9526 14.0293 20.5641 12.3893 20.9436 10.15H18.5722C18.0747 11.971 16.5945 13.6233 15.1803 13.78V10.15H12.7711V16.5C11.305 16.1337 9.39237 14.3538 9.314 10.15H6.79999Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="VkIdWebSdk__button_text">Войти с VK ID</div>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>

<style>
  .VkIdWebSdk__button_reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
  }

  .VkIdWebSdk__button {
    background: #0077ff;
    cursor: pointer;
    transition: all 0.1s ease-out;
  }

  .VkIdWebSdk__button:hover {
    opacity: 0.8;
  }

  .VkIdWebSdk__button:active {
    opacity: 0.7;
    transform: scale(0.97);
  }

  .VkIdWebSdk__button {
    border-radius: 8px;
    width: 100%;
    min-height: 34px;
  }

  .VkIdWebSdk__button_container {
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }

  .VkIdWebSdk__button_icon + .VkIdWebSdk__button_text {
    margin-left: -28px;
  }

  .VkIdWebSdk__button_text {
    display: flex;
    font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
    flex: 1;
    justify-content: center;
    color: #ffffff;
  }
</style>
