{{ define "launch-state" }}

{{ if .IsPublished }}
{{ if .LaunchingSoon }}
<span class="text-yellow-600 bg-yellow-100 text-xs p-1.5 rounded-full">Скоро публикуется</span>
{{ else }}
<span class="text-green-600 bg-green-100 text-xs p-1.5 rounded-full">Опубликовано</span>
{{ end }}
{{ else if .IsDraft }}
<span class="text-blue-600 bg-blue-100 text-xs p-1.5 rounded-full">Черновик</span>
{{ else if .IsReview }}
<span class="text-yellow-600 bg-yellow-100 text-xs p-1.5 rounded-full">На ревью</span>
{{ else if .IsDeclined }}
<span class="text-red-600 bg-red-100 text-xs p-1.5 rounded-full">Отклонено</span>
{{ end }}

{{ end }}
