{{ define "product-edit-card" }}

<div class="card">
	<header class="flex justify-between items-start gap-4">
		<img src="https://avatar.iran.liara.run/public" alt="{{ .Name }}"
			class="w-20 h-20 rounded-lg object-cover">

		<div class="flex-grow flex flex-col gap-2">
			<div>
				<h3 class="font-bold text-lg">
					<a href="/products/{{ .Slug }}">{{ .Name }}</a>
				</h3>

				<p class="text-sm text-gray-600">{{ .Tagline }}</p>
			</div>

			<div class="flex gap-2">
				{{ range .Categories }}
				<span class="text-sm bg-gray-100 text-gray-600 rounded-md px-2 py-1">
					{{ .Name }}
				</span>
				{{ end }}
			</div>

		</div>
	</header>

	<section class="flex flex-col gap-4">
		<div class="flex justify-between items-center">
			<h3>
				Запуски ({{ .Launches | len }})
			</h3>
			<a class="btn-outline rounded-full" href="/products/{{ .ID }}/new-launch">
				<i class="bi bi-plus-circle"></i>
				Создать
			</a>
		</div>
		<div class="flex flex-col w-full gap-2">
			{{ range .Launches }}
			<a href="/products/{{ $.ID }}/launches/{{ .Slug }}/edit"
				class="flex justify-between w-full gap-2 rounded-md border border-gray-200 p-4 hover:bg-gray-50">
				<div class="flex gap-2 items-center">
					{{ if .LaunchDate }}
					<span class="flex gap-2 items-center">
						<i class="bi bi-calendar"></i>
						<span class="text-sm text-gray-600">{{ .LaunchDate.Format "02.01.2006"
							}}</span>
					</span>
					{{ end }}
					<span class="text-sm text-gray-600">{{ .Name }}</span>
				</div>
				{{ template "launch-state" . }}
			</a>
			{{ end }}
		</div>
	</section>
	<footer>
		<a class="text-sm text-blue-600 underline" href="/products/{{ .Slug }}/launches/edit">
			Все запуски
		</a>
	</footer>
</div>

{{ end }}
