{{define "header"}}

<header>
	<nav class="navbar rounded-box flex w-full items-center justify-between gap-2 shadow-base-300/20 shadow-sm p-4">
		<div class="navbar-start max-md:w-1/4">
			<a class="link text-base-content link-neutral text-xl font-bold no-underline" href="/">
				ph
			</a>
		</div>
		<div class="navbar-end items-center gap-4">
			<a class="btn rounded-full" href="/new-product">
				Добавить продукт
			</a>
			{{ if .User }}
			<a class="btn-outline rounded-full border-rose-400" href="/api/logout">Выйти</a>
			{{ else }}
			<button class="btn rounded-full bg-rose-400 text-white" hx-get="/api/login" hx-target="body"
				hx-swap="beforeend">
				Войти
			</button>
			{{end}}
		</div>
	</nav>
</header>

{{end}}
