{{ define "content" }}
<div class="container mx-auto max-w-3xl px-4 py-12 sm:py-16">
  <div class="bg-white p-8 sm:p-12 rounded-xl shadow-md">
    <header class="text-center mb-10">
      <h1 class="text-2xl sm:text-3xl font-bold text-slate-900">
        Согласие на обработку персональных данных
      </h1>
    </header>

    <article class="prose prose-slate max-w-none">
      <p>
        Настоящим я выражаю своё согласие <strong>ООО «Хеллоу Ворлд»</strong>,
        ОГРН/ОГРНИП 1235000007098, ИНН 5024229328, зарегистрированному по
        адресу: 143410, Московская обл, г.о. Красногорск, г Красногорск, ул
        Спасская, д. 1, к. 3, кв. 260 (далее — Оператор), на обработку, в том
        числе автоматизированную, а именно сбор, запись, систематизацию,
        накопление, хранение, уточнение (обновление, изменение), извлечение,
        использование, передачу (распространение, предоставление, доступ),
        обезличивание, блокирование, удаление, уничтожение следующих
        персональных данных:
      </p>

      <ul>
        <li>фамилия, имя, отчество;</li>
        <li>адрес электронной почты (email);</li>
        <li>
          история запросов и просмотров на сайте https://justlaunch.ru (далее —
          Сайт) и его сервисах;
        </li>
        <li>
          файлы cookie, сведения о местоположении пользователя, сведения о
          действиях пользователя на Сайте, сведения об оборудовании
          пользователя, дата и время сессии.
        </li>
      </ul>

      <p>
        Обработка персональных данных в соответствии с настоящим согласием может
        осуществляться Оператором в следующих целях:
      </p>

      <ul>
        <li>
          идентификация меня как субъекта персональных данных с целью заключения
          любых договоров с Оператором и их дальнейшего исполнения;
        </li>
        <li>
          проведение акций, опросов, интервью, тестирований и исследований на
          Сайте;
        </li>
        <li>
          установление обратной связи, включая, но не ограничиваясь: направление
          мне рассылок, уведомлений в форме смс, электронных писем, устных и
          письменных запросов, обработки моих запросов и заявок;
        </li>
        <li>
          подтверждение достоверности и полноты персональных данных,
          предоставленных субъектом персональных данных;
        </li>
        <li>
          статистические и иные исследовательские и (или) аналитические цели при
          условии обезличивания моих персональных данных.
        </li>
      </ul>

      <p>
        Настоящее согласие действует в течение 5 (пяти) лет с даты
        предоставления либо до момента отзыва мной Согласия, в зависимости от
        того, какое событие наступит раньше.
      </p>

      <p>
        Настоящее согласие может быть отозвано мной путём направления
        уведомления посредством электронной почты на электронный адрес
        Оператора:
        <a
          href="mailto:hello@justlaunch.ru"
          class="text-blue-600 hover:text-blue-700"
          >hello@justlaunch.ru</a
        >.
      </p>

      <p>
        Настоящее согласие подписано простой электронной подписью с
        использованием функционала Сайта.
      </p>
    </article>
  </div>
  <footer class="text-center mt-8">
    <a
      href="/"
      class="text-sm text-slate-500 hover:text-slate-700 hover:underline"
      >&larr; Вернуться на главный сайт</a
    >
  </footer>
</div>
{{ end }}
