{{ define "head" }}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ph clone</title>

  {{ if .token }}
  <meta name="csrf-token" content="{{ .token }}" />
  {{ end }}

  <script src="/assets/js/htmx.min.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
  <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
  <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>
  <link href="/assets/css/output.css?v=1" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.0/dist/basecoat.cdn.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/basecoat-css@0.2.8/dist/js/all.min.js"
    defer
  ></script>

  <script>
    document.addEventListener("htmx:configRequest", function (evt) {
      var meta = document.querySelector('meta[name="csrf-token"]');
      if (meta) {
        evt.detail.headers["X-CSRF-Token"] = meta.getAttribute("content");
      }
    });
  </script>
</head>

{{ end }}
